<div class="row">

  <div class="col-md-7 col-sm-12" id="results-container">

    {{#if resultList}}
      <div class="box results">
        <ol class="text-left">
          {{#each resultList as |item|}}

              <div {{action 'click' item}} name="{{item.id}}" class="result">
                <li class={{if isSelected 'active'}}>
                  <div class="block"><strong>{{item.name}}</strong></div>
                  <div>{{item.formatted_address}}</div>
                  <div><b>Rating:</b> {{{star-rating item.rating}}}</div>
                  <div>
                    <strong>Categories:</strong>
                      {{format-categories item.types}}
                  </div>
                </li>
              </div>

          {{else}}
            Sorry, no results found.
          {{/each}}
        </ol>
      </div>
    {{/if}}

  </div>

    <div class="{{if showMap 'visible' 'invisible'}} col-md-5 col-sm-12 pull-right no-padding">
      <div id="map-canvas" name="map-canvas"></div>
    </div>
</div>

{{outlet}}
