<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 box search text-center">
      <div class="search-inner text-center">
        <div class="h3" style="margin-top:0px;">Search with Google Places</div>

        <form id="search-form" class="form-group">
          {{view 'location-input' value=locationInput classNames="form-control input-lg col-sm-12 row-space-1 " placeholder="What's your location?" latLng=latLng}}
          {{input type="text" class="hidden" value=latLng}}
          {{#if showKeywordSearch}}
            {{input type='text' value=keyword classNames="form-control input-lg col-sm-12 row-space-1" placeholder="What are you looking for?"}}
            <button type='submit' class="btn btn-success btn-sm btn-block" {{action 'search' keyword latLng}}>Go!</button>
          {{/if}}
        </form>

      </div>
    </div>
  </div>
  <div class="row row-space-top-2">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div class="col-sm-8 row-space-top-2">
      {{outlet}}
      </div>
      {{!places-search query=searchTerm latLng=latLng classNames="fade-in" isDirty=isDirty}}

      <div class="col-md-5 col-sm-12 pull-right no-padding">
        <div id="map-canvas" name="map-canvas"></div>
      </div>
    </div>


  </div>


</div>
