
  {{#if model}}
    <div class="h4 text-center">Search Results:</div>
    <hr>
    <ol class="text-left">
      {{#each item in model}}
      <li {{action 'hover' item on="mouseEnter"}}>
        <div class="block"><strong>{{item.name}}</strong></div>
        <div>{{item.formatted_address}}</div>
        <div><b>Rating:</b> {{{star-rating item.rating}}}</div>

        <div>
          <strong>Categories</strong>
          <ul class="list-inline">
          {{#each type in item.types}}
            <li>{{type}}, </li>
          {{/each}}
          </ul>
        </div>
      </li>
      <hr>

      {{else}}
        Sorry, no results found.
      {{/each}}
    </ol>
  {{/if}}


{{outlet}}
